@import "http://webfonts.ru/import/roboto.css";
/*
	Roboto, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic
*/

@import "http://webfonts.ru/import/casper.css";
/*
	Casper, 400, 400 italic, 700, 700 italic
*/



html, body {
    font-family: Casper, sans-serif;
}

body {
    background-color: #424641;
    color: azure;
    text-align: center;
}

p {
    text-shadow: 0.5px 0.7px 1.7px #000;
}